In [2]:
import pandas as pd
import numpy as np

In [3]:
#empty series
s = pd.Series()
s

C:\Users\Abhay Minachi\AppData\Local\Temp\ipykernel_11632\2023714487.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

Series([], dtype: float64)

In [4]:
# using the array, create a series
data = np.array(['abh','vrt','rer','gfgf'])
ser = pd.Series(data)
ser

0     abh
1     vrt
2     rer
3    gfgf
dtype: object

In [5]:
# using different indices
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [6]:
# using dict
data = {'abhay':22,'beans':45,'jones':78}
s = pd.Series(data)
s

abhay    22
beans    45
jones    78
dtype: int64

In [7]:
# using changed index, means using keys the sequencing can be changed
data = {'a':45,'b':2,'c':99}
s = pd.Series(data,index=['b','c','d','a'])
s
# The key that is not having any value will be assigned NaN

b     2.0
c    99.0
d     NaN
a    45.0
dtype: float64

In [8]:
s = pd.Series(45,index = ['af','b','f','h','f'])
s

af    45
b     45
f     45
h     45
f     45
dtype: int64

In [9]:
data = {'a':45,'b':2,'c':99}
s = pd.Series(data,index=['b','c','d','a'])
s[2]

nan

In [10]:
s = pd.Series([1,2,3,4,6],index = ['a','b','c','d','e'])

#retrieve the last two element
print(s[-2:])

d    4
e    6
dtype: int64

In [11]:
s = pd.Series([1,2,3,4,6],index = ['a','b','c','d','e'])

#retrieve the last two element
print(s[['d','a']])

d    4
a    1
dtype: int64

In [13]:
s = pd.Series([1,2,3,4,6],index = ['a','b','c','d','e'])

#retrieve the last two element
print(s['e'])

6

In [ ]:
s = pd.Series(np.random.rand(5))
print(s.round(2))
print(s.axes)
print("Is is the object empty")
print(s.empty)
print("Size of the object is ",s.size,s.shape)
print("")

In [ ]:
fruits = ['apple','banana','mango','jack']
quantities = [20, 33, 52, 10]
S = pd.Series(quantities, index=fruits)
S

In [ ]:
fruits = ['peaches', 'oranges', 'cherries', 'pears']
fruits2 = ['raspberries', 'oranges', 'cherries', 'pears']
S = pd.Series([20, 33, 52, 10], index=fruits)
S2 = pd.Series([17, 13, 31, 32], index=fruits2)
print(S + S2)

In [ ]:
S.apply(np.log)

In [ ]:
S[S>30]

In [ ]:
cities = {"London": 8615246,
"Berlin": 3562166,
"Madrid": 3165235,
"Rome": 2874038,
"Paris": 2273305,
"Vienna": 1805681,
"Bucharest": 1803425,
"Hamburg": 1760433,
"Budapest": 1754000,
"Warsaw": 1740119,
"Barcelona": 1602386,
"Munich": 1493900,
"Milan": 1350680}
city_series = pd.Series(cities)
print(city_series)

In [ ]:
my_cities = ["London", "Paris", "Zurich", "Berlin",
"Stuttgart", "Hamburg"]
my_city_series = pd.Series(cities,
index=my_cities)
my_city_series

In [ ]:
my_cities = ["London", "Paris", "Zurich", "Berlin","Stuttgart","Hamburg"]
my_city_series = pd.Series(cities,index=my_cities)
print(my_city_series.isnull())

In [ ]:
print(my_cities)
print(my_city_series.dropna())
print(my_city_series.fillna(0))

In [ ]:
missing_cities = {"Stuttgart":597939, "Zurich":378884}
my_city_series.fillna(missing_cities).astype(int)