# References

In [2]:
x=1
y=x
x is not y

False

In [4]:
y=2
x is y

False

In [7]:
s1 = [1,2,3,4]
s2 = s1
s2[2] = 17

In [8]:
s2

[1, 2, 17, 4]

In [9]:
s1

[1, 2, 17, 4]

In [12]:
s1[3] = 568
s2

[1, 2, 17, 568]

# Control Statements

In [17]:
a=11
if a == 3:
    print (" spam ")
elif a == 10:
    print (" eggs ")
elif a == -3:
    print (" bacon ")
else :
    print (" something else ")

 something else

In [20]:
for i in range(5):
    print("The value is ",i+1)

The value is  1
The value is  2
The value is  3
The value is  4
The value is  5

In [23]:
for i in range(3,8):
    print(i)

3
4
5
6
7

In [30]:
for i in range(1,9,2):
    print(i)
else:
    print("Loop Done")

1
3
5
7
Loop Done

In [32]:
for data in ["spam", "eggs", "bacon"]:
    print (data)

 spam
 eggs
 bacon

In [33]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [35]:
for (i, char ) in enumerate ("hello world"):
    print (i, char )

0 h
1 e
2 l
3 l
4 o
5
6 w
7 o
8 r
9 l
10 d

In [39]:
i=0
while(i<10):
    print("The Value is ", i)
    i=i+1
    if(i==5):
        break

The Value is  0
The Value is  1
The Value is  2
The Value is  3
The Value is  4

In [40]:
def add(a,b):
    mysum = a+b
    return mysum

In [42]:
print(add(13,41))

54

In [43]:
help(add)

Help on function add in module __main__:

add(a, b)

In [45]:
def hello_world ():
    print ("Hello World!")
a = hello_world ()
print (a)

Hello World!
None

In [47]:
# Multiple values caan be returned
def two_returns(a,b):
    return(a*a,b*b,a+b)

x,y,z = two_returns(3,6)
print(x,y,z)

9 36 9

In [49]:
def fline (x, m=1, b =0): # f(x) = m*x + b
    return m*x + b

for i in range (5):
    print ( fline (i), end=" ")
    # force newline
    print ()
for i in range (5):
    print ( fline (i , -1 ,1) , end=" ")

0
1
2
3
4
1 0 -1 -2 -3

In [57]:
def printContact (name ,age , location ):
    print ("Person : ", name )
    print ("Age : ", age , " years ")
    print ("Address : ", location )
printContact ("Abhay ",10,"bgm")

Person :  Abhay
Age :  10  years
Address :  bgm

In [60]:
a = float
a(12)

12.0

In [2]:
user_input = input("Enter your name ")

Enter your name Abhay

In [3]:
import sys
print(sys.argv)

['H:\\01_Anacond\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\Abhay Minachi\\AppData\\Roaming\\jupyter\\runtime\\kernel-30221336-bb8d-490b-b90e-936435560520.json']