## pYhton pandas practice

In [1]:
import pandas as pd

In [ ]:
#read the csv
df = pd.read_csv('Salary.csv')

In [ ]:
# see the data
df.head(3)

In [ ]:
# see the data
df.tail(2)

In [ ]:
df.dtypes

In [ ]:
df.ndim

2

In [ ]:
df.size

30

In [ ]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
df.values

array([['Prof', 'B', 56, 49, 'Male', 189000],
       ['Prof', 'A', 12, 0, 'Male', 45600],
       ['Prof', 'A', 43, 65, 'Female', 65444],
       ['Ascprof', 'A', 5, 22, 'Male', 78546],
       ['JunProf', 'B', 65, 12, 'Female', 56243]], dtype=object)

In [ ]:
#get the number of rows mention as 0, if u want columns then mention as 1
df.shape[0]

5

In [ ]:
#describe
df.describe().round(2)

In [ ]:
#Std deviation for full data set
df.std()

<ipython-input-9-ce97bb7eaef8>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

phd           26.583830
service       26.801119
salary     58309.687710
dtype: float64

In [ ]:
#mean of only first 50 rows
df1 = df.head(50)
df1.mean()

<ipython-input-16-0255b81c3e18>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.mean()

phd           36.2
service       29.6
salary     86966.6
dtype: float64

In [ ]:
df[['rank']]

      rank
0     Prof
1     Prof
2     Prof
3  Ascprof
4  JunProf

In [ ]:
df['rank']

0       Prof
1       Prof
2       Prof
3    Ascprof
4    JunProf
Name: rank, dtype: object

In [ ]:
df.rank

<bound method NDFrame.rank of       rank discipline  phd  service     sex  salary
0     Prof          B   56       49    Male  189000
1     Prof          A   12        0    Male   45600
2     Prof          A   43       65  Female   65444
3  Ascprof          A    5       22    Male   78546
4  JunProf          B   65       12  Female   56243>

In [ ]:
df['phd'].describe()

count     5.00000
mean     36.20000
std      26.58383
min       5.00000
25%      12.00000
50%      43.00000
75%      56.00000
max      65.00000
Name: phd, dtype: float64

In [ ]:
df['phd'].size

5

In [ ]:
df['phd'].mean()

36.2

In [ ]:
#group by opeartaion
df.groupby(['rank']).mean().round(2)

In [ ]:
#filtering Process based on some condition
df_sub = df[df['salary']>65000]
df_sub

      rank discipline  phd  service     sex  salary
0     Prof          B   56       49    Male  189000
2     Prof          A   43       65  Female   65444
3  Ascprof          A    5       22    Male   78546

In [ ]:
df[df['sex']=='Male']

      rank discipline  phd  service   sex  salary
0     Prof          B   56       49  Male  189000
1     Prof          A   12        0  Male   45600
3  Ascprof          A    5       22  Male   78546

In [ ]:
#Ffail
df[df['salary']>65000 & df['sex']=='Male']

In [ ]:
df[['rank','service']]

In [ ]:
df.iloc[1]

rank           Prof
discipline        A
phd              12
service           0
sex            Male
salary        45600
Name: 1, dtype: object

In [ ]:
df.iloc[1:3,2:5]

   phd  service     sex
1   12        0    Male
2   43       65  Female

In [ ]:
df.iloc[0:4,0:3]

In [ ]:
df.iloc[:,4:7]

In [ ]:
df.iloc[[4]]

      rank discipline  phd  service     sex  salary
4  JunProf          B   65       12  Female   56243

In [ ]:
df.iloc[[1,3],]

      rank discipline  phd  service   sex  salary
1     Prof          A   12        0  Male   45600
3  Ascprof          A    5       22  Male   78546

In [ ]:
# from specific colums, get the stat data using agregate fnction 
df[['rank','salary','phd']].agg(['min','max','mean'])

<ipython-input-89-76c6079843db>:2: FutureWarning: ['rank'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df[['rank','salary','phd']].agg(['min','max','mean'])

         rank    salary   phd
min   Ascprof   45600.0   5.0
max      Prof  189000.0  65.0
mean      NaN   86966.6  36.2